// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  font-family: Arial;
}

h2 {
  font-family: Arial;
}


#answer-box {
  border-left: 3px solid grey;
  padding-left: 10px;
}

#who {
  font-style: italic;
}

#coach-answer {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: grey;
}

a:hover {
  text-decoration: underline;
}

.background {
  padding: 10px;
  margin: 10px;
  p {
    font-size: 20px;
  }
}
